@CHARSET "ISO-8859-1";

.aligncenter {
	text-align: center;
}

tr, td {
	text-align: center;
}

li {
	display: inline;
	padding-right: 15px;
}

.labcode {
	text-align: right;
	font-weight: bold;
	font-size: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #008000;
	align: center;
}

#testDetails  td {
	width: 200px;
	height: 20px;
}

thead {
	font-weight: bold;
	text-align: center;
}

.thead {
	font-weight: bold;
}

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800)
	;

* {
	box-sizing: border-box;
}

/*Text Box desgin */
html, body {
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #008000;
}

.row {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px; /* span padding */
	position: relative;
	z-index: 1;
	text-align: center;
}

.row:before {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	left: -5000px;
	height: 100%;
	width: 15000px;
	z-index: -1;
	background: inherit;
}

.row span {
	position: relative;
	display: inline-block;
	color: #fff;
	/* top margin
  >	margin: 30px 10px; 
  */
}

.gate {
	display: inline-block;
	width: 215px;
	padding: 10px 0 10px 15px;
	font-family: "Open Sans", sans;
	font-weight: 400;
	color: #008000;
	background: #efefef;
	border: 0;
	border-radius: 3px;
	outline: 0;
	text-indent: 95px;
	transition: all .3s ease-in-out;
}

.gate::-webkit-input-placeholder {
	color: #efefef;
	text-indent: 0;
	font-weight: 300;
}

.gate+label {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 15px;
	text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
	background: #7AB893;
	transition: all .4s ease-in-out;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	transform-origin: left bottom;
	z-index: 99;
}

.gate+label:before, .gate+label:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 3px;
	background: #008000;
	transform-origin: left bottom;
	transition: all .4s ease-in-out;
	pointer-events: none;
	z-index: -1;
}

.gate+label:before {
	background: rgba(3, 36, 41, 0.2);
	z-index: -2;
	right: 20%;
}

span:nth-child(2) .gate {
	text-indent: 85px;
}

.gate:focus, .gate:active {
	color: #008000;
	text-indent: 0;
	background: #efefef;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.gate:focus::-webkit-input-placeholder, .gate:active::-webkit-input-placeholder
	{
	color: #aaa;
}

.gate:focus+label, .gate:active+label {
	transform: rotate(-66deg);
	border-radius: 3px;
}

.gate:focus+label:before, .gate:active+label:before {
	transform: rotate(10deg);
}

.btn {
	background-color: #008000; /* Green */
	border: none;
	color: white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}